# OS-specific files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-error.log
.pnpm-debug.log*
.vscode/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
out/
.cache/
*.tgz


